

#name{
    text-align: left;
    margin-left: none;
    margin-top: none;
    float: left;
    margin-right: 50%;
    
}

body{
    background-color:  #dae3f1;
    height: 500px;
}

h2{
    text-align: center;
    margin-top: 100px;
    
}

h3{
    margin-top: 200px;
    color:black;
   
}
h4{
    text-align: center;
    margin-bottom: 50px;
}




.jesus{
    height: 500px;
    width: 550px;
    margin-top: 100px;
    position:relative;
    bottom:100px;
    border-width:2px;
    border-width: 2px;
    left:300px;
    box-shadow: 10px 5px 5px #3e66a8;

}



/*this is the header list code*/
 .navigation{
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;   
    text-align: right;
    margin-top: none;
    margin-bottom: 60px;
    background-color: #3e66a8;
    border-style: solid;
    border-color:white;
    color:white;
    font-size: 30px;
    box-shadow: 10px 5px 5px #3e66a8;
}

.navigation ul li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
/*this is the header list code*/

/*this is the footer list code*/
.contact {
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-left: 0;   
    text-align: center;
    padding-right: 20px;
    margin-bottom: 80px;
}
.contact ul li{
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em; 
}
/*this is the header list code*/


/* css flexbox*/
.box{
    width: 100px;
    height: 100px;
    flex:1;
}

.container{
    display:flex;
    
}
.intro{
    left:10%;
    height: 200px;
    width: 500px;
    text-align: center;
    position:relative;
    top:20px;
    font-size: 2em;    
    background-color: #a2b8dd;
    box-shadow: 10px 5px 5px #3e66a8;
    
}
.headline{
    text-align: center;
    font-size: 14px;
    height: 50px;
    left:-20%;
    position:relative;
    top:300px;
    right:800px;
    font-size: 1em;
    background-color:#a2b8dd;
    box-shadow: 10px 5px 5px #3e66a8;   
}
.bio{
    text-align: left;
    font-size: 14px;
    height: 300px;
    width:300px;
    left:-40%;
    position:relative;
    top:450px;
    right:800px;
    font-size: 1em;
    background-color:#a2b8dd;
    box-shadow: 10px 5px 5px #3e66a8;   
}
/* css flexbox*/



#middle{
    box-shadow: 10px 5px 5px #3e66a8;
   background-color: #3e66a8;
    color:black;
    margin-right: 20px;
}

/* css rules for grid*/
.wrapper{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 30%;
    margin-top: 40px;
    grid-column-gap: 1em;
    grid-row-gap:3em;   
}
.wrapper> div{
   
    padding: 2px;
    width:300px;
    height: 300px;
   
}
/* css rules for grid*/

.image1{
    width:300px;
    height: 300px;
    border-radius: 25px;
    border-style: solid;
    border-color:white;
    margin-left:100px;
    border-width: 5px;
    box-shadow: 10px 5px 5px #3e66a8;
}
.project1{
    text-align: center;
    /*opacity:0.5;*/
    padding: 10px;
    position:relative;
    left:105px;
    bottom: 50px;
    color:white;
}

.image1:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
}

.image2{
    width:300px;
    height:300px;
    border-radius: 25px;
    border-style: solid;
    border-color:white;
    margin-left:100px;
    border-width: 5px;
    box-shadow: 10px 5px 5px #3e66a8;
}
.project2{
    text-align: center;
    /*opacity:0.5;*/
    padding: 10px;
    position:relative;
    left:105px;
    bottom: 50px;
    color:white;
}
.image2:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
}

.image3{
    width:300px;
    height: 300px;
    border-radius: 25px;
    border-style: solid;
    border-color:white;
    margin-left:100px;
    border-width: 5px;
    box-shadow: 10px 5px 5px #3e66a8;
} 
.project3{
    text-align: center;
    /*opacity:0.5;*/
    padding: 10px;
    position:relative;
    left:105px;
    bottom: 50px;
    color:white;
}
.image3:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
}

.image4{
    width:300px;
    height:300px;
    border-radius: 25px;
    border-style: solid;
    border-color:white;
    margin-left:100px;
    border-width: 5px;
    box-shadow: 10px 5px 5px #3e66a8;
}
.project4{
    text-align: center;
    /*opacity:0.5;*/
    padding: 10px;
    position:relative;
    left:105px;
    bottom: 50px;
    color:white;
}
.image4:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
}

.image5{
    width:300px;
    height: 300px;
    border-radius: 25px;
    border-style: solid;
    border-color:white;
    margin-left:100px;
    border-width: 5px;
    box-shadow: 10px 5px 5px #3e66a8;
}
.project5{
    text-align: center;
    /*opacity:0.5;*/
    padding: 10px;
    position:relative;
    left:105px;
    bottom: 50px;
    color:white;
}
.image5:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
}
.image6{
    width:300px;
    height:300px;
    border-radius: 25px;
    border-style: solid;
    border-color:white;
    margin-left:100px;
    border-width: 5px;
    box-shadow: 10px 5px 5px #3e66a8;
}
.project6{
    text-align: center;
    /*opacity:0.5;*/
    padding: 10px;
    position:relative;
    left:105px;
    bottom: 50px;
    color:white;
}
.image6:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
}









footer{
    background-color: #3e66a8;
    box-shadow: 10px 5px 5px #3e66a8;
    margin-left:40px;
    position:relative;
    bottom:20px;
    
    

    

}






/* media query for grid */

@media (max-width:4000px){
    .wrapper{  display: grid;
      grid-template-columns: 30% 30% 30%;
      margin-left: 10%;
      margin-top: 40px;
      grid-column-gap: 3em;
      grid-row-gap:3em;
    }



@media (max-width:2000px){
    .wrapper{  display: grid;
      grid-template-columns: 30% 30% 30%;
      margin-left: 10%;
      margin-top: 40px;
      grid-column-gap: 3em;
      grid-row-gap:3em;
    }

@media (max-width:1460px){
    .wrapper{  display: grid;
      grid-template-columns: 30% 30% 30%;
      margin-left: 10%;
      margin-top: 40px;
      grid-column-gap: 3em;
      grid-row-gap:3em;
    }
  }
  @media (max-width:1200px){
    .wrapper{  display: grid;
      grid-template-columns: 30% 30%;
      
      margin-top: 40px;
      grid-column-gap: 30%;
      grid-row-gap:3em;
    }
  }
  @media (max-width:600px){
    .wrapper{  display: grid;
      grid-template-columns: 30% ;
      margin-left: 0%;
      margin-top: 40px;
      grid-column-gap: 30%;
      grid-row-gap:3em;
    }
  }
  /*media query for grid*/  


@media (min-width:1000px){
    .container{
       font-size: 2.5rem;
              
    }
    
}
@media (max-width:1000px){
    .container{
       display: block;
       font-size: 1.5rem;
    }  
}


@media(max-width:1000px){
    .box{
        width: 150px;
        height: 150px;
        
    }
}
/* for the image tag */

@media (max-width:5000px){
    .jesus{
        position: relative;
        left:90%;
        margin-right: 200px;
        height: 400px;
        width:400px;
    }
    }
}





@media (max-width:3000px){
    .jesus{
        position: relative;
        left:70%;
        margin-right: 200px;
        height: 400px;
        width:400px;
    }
    }
}


@media (max-width:1500px){
    .jesus{
        position: relative;
        left:70%;
        margin-right: 200px;
        height: 400px;
        width:400px;
    }
    }


@media(max-width:1000px){
    .jesus{
        position: relative;
        left:20%;
        margin-right: 200px;
        height: 400px;
        width:400px;
    }
}


@media(max-width:800px){
    .jesus{
        position: relative;
        left:200px;
        margin-right: 200px;
        height: 350px;
        width:350px;

    }
}

@media(max-width:400px){
    .jesus{
        position: relative;
        left:0px;
        margin-right: 200px;
        height: 350px;
        width:350px;

    }
}



@media(max-width:3000px){
    .intro{
        left:10%;
    height: 200px;
    width: 500px;
    text-align: center;
    position:relative;
    top:20px;
    font-size: 5em;    
    background-color: #a2b8dd;
    box-shadow: 10px 5px 5px #3e66a8;
    }
}





@media(max-width:2000px){
    .intro{
        left:10%;
    height: 150px;
    width: 500px;
    text-align: center;
    position:relative;
    top:20px;
    font-size: 1.5em;    
    background-color: #a2b8dd;
    box-shadow: 10px 5px 5px #3e66a8;
    }
}



@media(max-width:1500px){
    .intro{
        left:10%;
    height: 150px;
    width: 500px;
    text-align: center;
    position:relative;
    top:20px;
    font-size: 1.5em;    
    background-color: #a2b8dd;
    box-shadow: 10px 5px 5px #3e66a8;
    }
}
@media(max-width:1000px){
    .intro{
        left:10%;
    height: 200px;
    width: 500px;
    text-align: center;
    position:relative;
    top:20px;
    font-size: 3em;    
    background-color: #a2b8dd;
    box-shadow: 10px 5px 5px #3e66a8;
    }
}

@media(max-width:800px){
    .intro{
        left:10%;
    height: 50px;
    width: 500px;
    text-align: center;
    position:relative;
    top:20px;
    font-size: 1.5em;    
    background-color: #a2b8dd;
    box-shadow: 10px 5px 5px #3e66a8;
    }
}
@media(max-width:3000px){
    .headline{
        text-align: center;
        height: 90px;
        width:400px;
        position:relative;
        top:250px;
        font-size: 3em;
        background-color:#a2b8dd;
        box-shadow: 10px 5px 5px #3e66a8;  
    }     
}

@media(max-width:2000px){
    .headline{
        text-align: center;
        height: 100px;
        width:400px;
        position:relative;
        top:250px;
        font-size: 1em;
        background-color:#a2b8dd;
        box-shadow: 10px 5px 5px #3e66a8;  
    }     
}
@media(max-width:1500px){
    .headline{
        text-align: center;
        height: 100px;
        width:400px;
        position:relative;
        top:250px;
        font-size: 1em;
        background-color:#a2b8dd;
        box-shadow: 10px 5px 5px #3e66a8; 
    }     
}
@media(max-width:1000px){
    .headline{
        text-align: center;
        height: 100px;
        width:400px;
        left:180px;
        position:relative;
        top:80px;
        right:800px;
        font-size: 1.5em;
        background-color:#a2b8dd;
        box-shadow: 10px 5px 5px #3e66a8;  
    }    
}


/*for the bio class*/
@media (max-width:2500px){

    .bio{
        text-align: left;
        height: 100px;
        width:400px;
        left:180px;
        position:relative;
        top:550px;
        right:800px;
        font-size: 2em;
        background-color:#a2b8dd;
        box-shadow: 10px 5px 5px #3e66a8;  
    }
    
}

@media (max-width:1500px){
    .bio{
        text-align: left;
        height: 100px;
        width:400px;
        left:-500px;
        position:relative;
        top:500px;
        right:800px;
        font-size: 30px;
        background-color:#a2b8dd;
        box-shadow: 10px 5px 5px #3e66a8;  
    }
    
}



@media (max-width:1000px){
    .bio{
        text-align: left;
        height: 100px;
        width:400px;
        left:180px;
        position:relative;
        top:550px;
        right:800px;
        font-size: 1.5em;
        background-color:#a2b8dd;
        box-shadow: 10px 5px 5px #3e66a8;  
    }
    
}
@media(max-width:800px){
    .bio{
        text-align: left;
        height: 100px;
        width:400px;
        left:180px;
        position:relative;
        top:520px;
        right:800px;
        font-size: 1em;
        background-color:#a2b8dd;
        box-shadow: 10px 5px 5px #3e66a8;  
    }
}
/*for the bio class*/

/* for the h2 tag*/
@media(min-width: 1000px){
    h2{
        margin-left:100px;
    }
}
@media(max-width:1000px){
   h2{
       text-align: left;
   }
}
