
html{
    background: url('background3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.resumeClass{
    width: 800px;
}

.flex-container {
    display: flex;
   justify-content: center;
   color:blanchedalmond;
  }

  .flex-containerSocial{
    display: flex;
    justify-content: center;
    
    margin-right:40%;
    margin-top:40px;
    background-color: crimson;
    width:100%

   }
   .flex-containerNavbar{
    display: flex;
    justify-content: space-evenly;
    color:blanchedalmond;
    margin-top:40px;
    font-size:20px
   }
   .flex-containerOtherProjects{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    color:blanchedalmond;
    margin-top:5%;
    font-size:25px;
 
   }
   .containerBottom{
       display:flex;
       justify-content: center;
       color:blanchedalmond;
       font-size:20px;
   }
  
   .jumbotron{
    margin-top:5%;
    margin-left:20%;
    color:blanchedalmond;
   }
   .display-4{
       margin-left:25%;
       font-family: 'Rajdhani', sans-serif;
   }
   .eagleeye{
    width:50%;
    margin-left:10%;
    box-shadow: 10px 10px 5px crimson;
   }
   .eagleeye:hover {
    background-size: 400px 400px;
    width:600px;
    height: 500px;
}
.githubImage{
    width:100px;
}


  
.header{
    color:blanchedalmond;
    text-align: center;
    font-size: 500%;
    font-family: 'Rajdhani', sans-serif;
    margin-top:5%;
}

.introduction{
    color:blanchedalmond;
    text-align: center;
    font-size: 200%;
    font-family: 'Rajdhani', sans-serif;
}

.skills{
    color:blanchedalmond;
    text-align: center;
    font-size: 150%;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 50px;
}

.profilepic{
    width:20%;
    margin-left: 40%;
    border-radius: 100%;
    margin-top: 5%;
}

.flex-containerFeatureName{
    display:flex;
    justify-content: center;
    color:blanchedalmond;

}


.email{
    margin-top:15px;
}
.github{
   
}
.linkedinImage{
    width:40px;
    margin-top:2px;
}
.wrapper{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-top: 40px;
    grid-column-gap: 5em;
    /* grid-row-gap:3em;    */
    justify-content: center;
    margin-right:20%;
}
.wrapper> div{
   
    padding: 2px;
    width:300px;
    height: 300px;
   
}
/* css rules for grid*/

.otherProjects{
    width:300px;
    height: 200px;
    
    margin-left:100px;
    border-width: 5px;
    box-shadow: 10px 5px 5px crimson;
}
.project{
    text-align: center;
    /*opacity:0.5;*/
    padding: 10px;
    position:relative;
    left:105px;
    bottom: 40px;
    color:crimson;
}

.otherProjects:hover {
    background-size: 400px 400px;
    width:320px;
    height: 220px;
}
.linkColor:link{
    color:crimson;
}
.linkColor:visited {
    color:crimson;
    
  }


  @media (max-width: 480px) {
    .wrapper{
        display: grid;
        grid-template-columns: 30%;
        margin-top: 40px;
        grid-column-gap: 6em;
        grid-row-gap:3em;   
    }
  }







  @media (max-width: 768px) {
      .profilepic{
          display:flex;
          justify-content: center;
          width:50%;
      }
    .wrapper{
        display: grid;
        grid-template-columns: 30%;
        margin-top: 40px;
        grid-column-gap: 7em;
        grid-row-gap:3em;
        justify-content: left;   
    }
    .otherProjects{
        width:400px;
        height: 300px;
       
        border-style: solid;
        
        margin-left:100px;
        border-width: 5px;
        box-shadow: 10px 5px 5px crimson;
    }
    .eagleeye{
        width:500px;
        height: 300px;
        margin-left:10%;
        box-shadow: 10px 10px 5px crimson;
       }
       .flex-containerFeatureName{
        margin-left:100px;
        
        }
        .jumbotron{
            margin-top:5%;
            margin-left:50%;
            color:blanchedalmond;
           }
           .display-4{
               display:flex;
               justify-content: center;
           }
  }
  @media (max-width: 1024px) {}
    .lead{
        display:flex;
        justify-content: center;

  }
  /* @media (max-width: 1200px) {
    .jumbotron{
        margin-top:5%;
        margin-left:50%;
        color:blanchedalmond;
       }
  }
  @media (max-width: 1201px) {
    .jumbotron{
        margin-top:5%;
        margin-left:50%;
        color:blanchedalmond;
       }
  } */