

#name{
    text-align: left;
    margin-left: none;
    margin-top: none;
    float: left;
    margin-right: 50%;
    
}
body{
    background-color: lightgrey;
}

h2{
    text-align: center;
    margin-top: 100px;
    
}

h3{
    margin-top: 80px;
    color:black;
   
}
h4{
    text-align: center;
    margin-bottom: 50px;
}




img{
    height: 400px;
    width: 450px;
    margin-left: 40%;
    margin-top: 100px;
    border-radius: 500px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}



/*this is the header list code*/
 .navigation{
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-left: 0;   
    text-align: right;
    margin-top: none;
    margin-bottom: 60px;
    background-image: radial-gradient(white,grey);
    padding:15px;
    border-style: solid;
    border-color:black;
}

.navigation ul li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
/*this is the header list code*/

/*this is the footer list code*/
.contact {
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-left: 0;   
    text-align: center;
    padding-right: 20px;
    margin-bottom: 80px;
}
.contact ul li{
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em; 
}
/*this is the header list code*/


/* css flexbox*/
.box{
    width: 100px;
    height: 100px;
    flex:1;
}

.container{
    display:flex;
    
}
.intro{
    
    
    margin-left: 20%;
    background-image: linear-gradient(white,grey);
    height: 200px;
    text-align: center;
    border-style: solid;
    border-color:black;
   
    
   
}
.Mybio{
    
    
    margin-left: 20%;
    background-image: linear-gradient(white,grey);
    text-align: left;
    font-size: 14px;
    border-style:solid;
    border-color:black;
    height: 200px;
    
}
/* css flexbox*/

#middle{
    background-image: radial-gradient(grey, white);
    color:black;
    border-style: solid;
    border-color:black;
}

/* css rules for grid*/
.wrapper{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 30%;
    margin-top: 40px;
    grid-column-gap: 1em;
    grid-row-gap:3em;   
}
.wrapper> div{
    background:#eee;
    padding: 2px;
    width:300px;
    height: 300px;
}
/* css rules for grid*/








/*background image and text for first project under work */
#first{
    background-image: url("/Users/jesusoyervides/My_Portfolio/My-Portfolio/assets/images/Screen Shot 2022-03-23 at 10.54.30 AM (2).png");
    background-size:300px 300px;
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    border-style:solid;
    border-color: grey;
    border-width: 10px;
}
.project1{
    text-align: center;
    margin-top: 90%;
    background-color: grey;
    opacity:0.5;
    padding: 10px;
}
#first:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
    
}
.project1:hover {
    color:white;
    opacity: 1;
    
    
}

/*background image and text for first project under work */

/*background image and text for second project under work */
#second{
    background-image: url("/Users/jesusoyervides/My_Portfolio/My-Portfolio/assets/images/laptops_image.avif");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style:solid;
    border-color: grey;
    border-width: 10px;
}
.project2{
    text-align: center;
    margin-top: 90%;
    background-color: grey;
    opacity:0.5;
    padding: 10px;
}
#second:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
    
}
.project2:hover {
    color:white;
    opacity: 1;
    
    
}

/*background image and text for second project under work */

/*background image and text for third project under work */
#third{
    background-image: url("/Users/jesusoyervides/My_Portfolio/My-Portfolio/assets/images/keyboard_images.avif");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style:solid;
    border-color: grey;
    border-width: 10px;
}
.project3{
    text-align: center;
    margin-top: 90%;
    background-color: grey;
    opacity:0.5;
    padding: 10px;
}
#third:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
    
}
.project3:hover {
    color:white;
    opacity: 1;
    
    
}

/*background image and text for third project under work */

/*background image and text for fourth project under work */
#fourth{
    background-image: url("/Users/jesusoyervides/My_Portfolio/My-Portfolio/assets/images/circuit_board_image.avif");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style:solid;
    border-color: grey;
    border-width: 10px;
}
.project4{
    text-align: center;
    margin-top: 90%;
    background-color: grey;
    opacity:0.5;
    padding: 10px;
}
#fourth:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
    
}
.project4:hover {
    color:white;
    opacity: 1;
    
    
}


/*background image and text for fourth project under work */

/*background image and text for fifth project under work */
#fifth{
    background-image: url("/Users/jesusoyervides/My_Portfolio/My-Portfolio/assets/images/pakata-goh-RDolnHtjVCY-unsplash.jpg");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style:solid;
    border-color: grey;
    border-width: 10px;
}
.project5{
    text-align: center;
    margin-top: 90%;
    background-color: grey;
    opacity:0.5;
    padding: 10px;
}
#fifth:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
    
}
.project5:hover {
    color:white;
    opacity: 1;
    
    
}

/*background image and text for fifth project under work */

/*background image and text for sixth project under work */
#sixth{
    background-image: url("/Users/jesusoyervides/My_Portfolio/My-Portfolio/assets/images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style:solid;
    border-color: grey;
    border-width: 10px;
}
.project6{
    text-align: center;
    margin-top: 90%;
    background-color: grey;
    opacity:0.5;
    padding: 10px;
    
    
}
#sixth:hover {
    background-size: 400px 400px;
    width:320px;
    height: 320px;
    
}
.project6:hover {
    color:white;
    opacity: 1;
    
    
}
/*background image and text for sixth project under work */



footer{
    background-image:radial-gradient(white,grey);
    

}






/* media query for grid */
@media (max-width:1460px){
    .wrapper{  display: grid;
      grid-template-columns: 30% 30% 30%;
      margin-left: 10%;
      margin-top: 40px;
      grid-column-gap: 3em;
      grid-row-gap:3em;
    }
  }
  @media (max-width:1000px){
    .wrapper{  display: grid;
      grid-template-columns: 30% 30%;
      margin-left: 30%;
      margin-top: 40px;
      grid-column-gap: 30%;
      grid-row-gap:3em;
    }
  }
  @media (max-width:800px){
    .wrapper{  display: grid;
      grid-template-columns: 30% ;
      margin-left: 30%;
      margin-top: 40px;
      grid-column-gap: 30%;
      grid-row-gap:3em;
    }
  }
  /*media query for grid*/  


@media (min-width:1000px){
    .container{
       font-size: 2.5rem;
              
    }
    
}
@media (max-width:1000px){
    .container{
       display: block;
       font-size: 1.5rem;
    }  
}


@media(max-width:1000px){
    .box{
        width: 150px;
        height: 150px;
        
    }
}
/* for the image tag */
@media (max-width:1500px){
    img{
        margin-left: 40%;
        margin-right: 30px;
    }
}

@media(max-width:1000px){
    img{
        margin-left: 40%;
        margin-right: 30px;
    }
}



@media(max-width:800px){
    img{
        margin-left:20%;
    }
}



@media(max-width:1000px){
    .intro{
        margin-left: 60%;
        margin-bottom: 30px;
    }
}
@media(max-width:800px){
    .intro{
        margin-left: 50%;
    }
}


/*for the bio class*/
@media (max-width:1000px) {
    .Mybio{
        margin-left: 60%;
    }
    
}
@media(max-width:800px){
    .Mybio{
        margin-left: 50%
    }
}
/*for the bio class*/

/* for the h2 tag*/
@media(min-width: 1000px){
    h2{
        margin-left:100px;
    }
}
@media(max-width:1000px){
   h2{
       text-align: left;
   }
}