









#name{
    text-align: left;
    margin-left: none;
    margin-top: none;
    float: left;
    margin-right: 50%;
    
}


h2{
    text-align: center;
    margin-top: 100px;
    
}

h3{
    margin-top: 80px;
}
h4{
    text-align: center;
    margin-bottom: 50px;
}


img{
    height: 400px;
    width: 400px;
    margin-left: 40%;
    margin-top: 100px;
    border-radius: 500px;
}



/*this is the header list code*/
 .navigation{
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-left: 0;   
    text-align: right;
    margin-top: 30px;
    margin-bottom: 60px;
}

.navigation ul li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
/*this is the header list code*/

/*this is the footer list code*/
.contact {
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-left: 0;   
    text-align: center;
    padding-right: 20px;
    margin-bottom: 80px;
}
.contact ul li{
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em; 
}
/*this is the header list code*/


/* css flexbox*/
.box{
    width: 100px;
    height: 100px;
    flex:1;
}

.container{
    display:flex;
    
}
.Bio{
    
    border-radius: 50px;
    margin-left: 20%;
   
}
.Mywork{
    
    border-radius: 50px;
    margin-left: 20%;
}
/* css flexbox*/

/* css rules for grid*/
.wrapper{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 30%;
    margin-top: 40px;
    grid-column-gap: 1em;
    grid-row-gap:3em;   
}
.wrapper> div{
    background:#eee;
    padding: 2px;
    width:300px;
    height: 300px;
}
/* css rules for grid*/

/* media query for grid */
@media (max-width:1460px){
    .wrapper{  display: grid;
      grid-template-columns: 30% 30% 30%;
      margin-left: 10%;
      margin-top: 40px;
      grid-column-gap: 3em;
      grid-row-gap:3em;
    }
  }
  @media (max-width:1000px){
    .wrapper{  display: grid;
      grid-template-columns: 30% 30%;
      margin-left: 30%;
      margin-top: 40px;
      grid-column-gap: 30%;
      grid-row-gap:3em;
    }
  }
  @media (max-width:800px){
    .wrapper{  display: grid;
      grid-template-columns: 30% ;
      margin-left: 30%;
      margin-top: 40px;
      grid-column-gap: 30%;
      grid-row-gap:3em;
    }
  }
  /*media query for grid*/



  


@media (min-width:1000px){
    .container{
       font-size: 2.5rem;
              
    }
    
}
@media (max-width:1000px){
    .container{
       display: block;
       font-size: 1.5rem;
    }  
}


@media(max-width:1000px){
    .box{
        width: 150px;
        height: 150px;
        
    }
}
/* for the image tag */
@media (max-width:1500px){
    img{
        margin-left: 40%;
        margin-right: 30px;
    }
}

@media(max-width:1000px){
    img{
        margin-left: 40%;
        margin-right: 30px;
    }
}

@media(max-width:800px){
    img{
        margin-left:20%;
    }
}




/* for the h2 tag*/
@media(min-width: 1000px){
    h2{
        margin-left:100px;
    }
}
@media(max-width:1000px){
   h2{
       text-align: left;
   }
}